.report-container-1
  h2.title-red RED
  for report in red
    ul
      li #{report.bg} BL: #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}

.report-container-2
  h2.title-green GREEN
  for report in green
    ul
      li #{report.bg} BL: #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}

.report-container-3
  h2.title-blue BLUE
  for report in blue
    ul
      li #{report.bg} BL: #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}

.report-container-4
  h2.title-ebg EBG
  for report in ebg
    ul
      li #{report.bg} BL: #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}
