extends ./layouts/base

block content
  h3 Submit a report:
  
  include ./includes/submit
  
  h3= reportType
  p= reportCount
  
  for report in reports
    h2= report.rawstamp
    ul
      li #{report.bg} BL: #{report.report}
      li Reported by: #{report.user}
      li Posted: #{report.timestamp}
